.modal-90w {
	width: 90%;
}

.add_button {
	float: right;
}

.tooltip .tooltip-inner {
	background-color: #fff;
}

.tooltip.bottom .tooltip-inner:after {
	border-bottom-color: #fff;
}

.tooltip .tooltip-arrow {
	border-bottom-color: #fff;
}

.tooltip.top .tooltip-inner:after {
	border-top: 11px solid #fff;
}

.tooltip.bottom .tooltip-inner:after {
	border-bottom: 11px solid #fff;
}

.tooltip.left .tooltip-inner:after {
	border-left: 11px solid #fff;
}

.tooltip.right .tooltip-inner:after {
	border-right: 11px solid #fff;
}
 .main-content {
    padding: 30px 15px;
    padding-top: 100px;
    min-height: calc(100vh - 136px); }