.modal-90w {
	width: 90%;
}

.add_button {
	float: right;
}

.tooltip .tooltip-inner {
	background-color: #fff;
}

.tooltip.bottom .tooltip-inner:after {
	border-bottom-color: #fff;
}

.tooltip .tooltip-arrow {
	border-bottom-color: #fff;
}

.tooltip.top .tooltip-inner:after {
	border-top: 11px solid #fff;
}

.tooltip.bottom .tooltip-inner:after {
	border-bottom: 11px solid #fff;
}

.tooltip.left .tooltip-inner:after {
	border-left: 11px solid #fff;
}

.tooltip.right .tooltip-inner:after {
	border-right: 11px solid #fff;
}

.reactour__helper {
	--reactour-accent: #5cb7b7;
	line-height: 1.3;
	color: #2d2323;
	padding: 24px 40px 24px 30px;
}
