.modal-90w{
   width:90%;
}

.add_button{
   float:right;
}

.tooltip .tooltip-inner {
    background-color:#fff;
}
.tooltip.bottom .tooltip-inner:after {
    border-bottom-color:#fff;
}
.tooltip .tooltip-arrow {
    border-bottom-color:#fff;
}
