@media (min-width: 992px){
    .monitorIconText{
        display:none !important;
    }

}
@media (max-width: 992px){
    .monitorIconText{
        display:inline-block !important;
    }

}

.navbar-default .navbar-nav > div > li > a:not(.btn) {
    color: #9A9A9A;
}
